.homelogo {//公司图标样式
    width: 300px;
    height: 64px;
    margin: 16px 24px 16px 0;
    float: left;
    display: block;
    margin: 0 auto;
    color: #080808; 
    text-decoration: none;
    font-size: 23px;
    font-style: normal;
}
.corpration {//战略合作样式
    position: absolute;
    top: 0px;
    right: 200px;
    color: black;
    font-size: 16px;
}
.evaluatelogo{//swust图标样式
    width: 40px;
    height: 40px;
    position: relative;
    float: left;
    top: 13px;
    margin:0 10px;
}