.company_top_left {//企业框架
    padding: 20px 0;
    height: 150px;
}
.company_top_left .company_infos{//企业框架
    padding-left: 151px;
    position: relative;
}
.company_top_left .company_infos em.f_img {//调整图像
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 90px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 15px;
    background-color: #0F63A8;
    color: #fff;
    font-size: 50px;
    overflow: hidden;
    letter-spacing: 1px;
}
i, em {//调整em的字体
    font-style: normal;
}
.company_top_left .company_infos span.blo {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #333;
}
// .bg_cons {//查看公司具体信息的div
//     background-color: #f5f5f5;
// }
// .left_body span{
//     margin-right: 15px;
//     color: #666;
// }