.Dcontainer{//调整整体
    width: 100%;
    height: 100%;
}
// div{
//     width: 100%;
//     height: 100%;
// }
.ant-layout{//覆盖
    width: 100%;
    height: 100%;
}
a {//取消Link下划线
    text-decoration: none;
}
.router-link-active {//取消Link下划线
    text-decoration: none;
}
.ant-layout-header{
    background: #fff !important;
    padding: 0px 0px !important;
}
.ant-layout-footer{
    padding: 10px 50px !important;
}
.homelogo {//公司图标样式
    width: 150px;
    height: 64px;
    margin: 16px 24px 16px 0;
    float: left;
    display: block;
    margin: 0 auto;
}
.corpration {//战略合作样式
    position: absolute;
    top: 0px;
    right: 350px;
    color: black;
    font-size: 16px;
}
.swustlogo{//swust图标样式
    padding-right: 15px;
}
.register{//登录注册样式
    position: absolute;
    display: inline-block;
    top: 0px;
    right: 100px;
}
