.search_form{
    background-image: linear-gradient(to right,#1488CC,#2B32B2,#2B32B2,#2B32B2,#1488CC);
}
.search_type ul{
    width: 40%;
    margin-left: 30%;
}
.top_hd {//表格的样式
    padding: 30px 0;
}
.search_type ul li {//每个列表的样式
    list-style: none;
    width: 120px;
    margin-right: 50px;
    margin-bottom: 20px;
    // display: table-cell;
    font-size: 16px;
    border-radius: 2px;
    line-height: 25px;;
    text-align: center;
    padding: 5px 8px;
    // width: 14.285%;
    background-color: #2B32B2;
    vertical-align: middle;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    float: left;
}
// .search_type.cli_types ul li:nth-child(1).active {//列表第一个active样式
//     border: 1px solid #e5e5e5;
//     border-bottom: none;
//     color: #1890ff;
// }
.search_type ul li:hover {//列表hover样式（背景）
    color: #128bed;
    background-color: #ffff;
    border: 1px solid #1890ff;
    border-radius: 5px;
}
.search_type ul li:hover::before{//列表hover样式（三角形）
    content: " ";
    width: 0;
    height: 0;
    border-width: 6px 6px 0px;
    border-style: solid;
    position: absolute;
    bottom: -6px;
    border-color: #fff transparent transparent;
    left: 50%;
    margin-left: -6px;
}
.search_type ul li.active {//列表点击active样式（背景）
    color: #128bed;
    background-color: #ffff;
    border: 1px solid #1890ff;
    border-radius: 5px;
}
.search_type ul li.active::before{//列表点击active样式（三角形）
    content: " ";
    width: 0;
    height: 0;
    border-width: 6px 6px 0px;
    border-style: solid;
    position: absolute;
    bottom: -6px;
    border-color: #fff transparent transparent;
    left: 50%;
    margin-left: -6px;
}

.search_type2 {//子列表样式
    padding-top: 0px;
    position: relative;
    border: 1px solid #e7e7e7;
    margin-top: -10px;
    border-top: none;
    background-color: #fff;
    padding: 15px;
}
.search_type2 ul li {//子列表样式
    background-color: #fff;
    z-index: 2;
    position: relative;
    border: none;
}
.search_type3 li {//区域搜索子列表样式
    float: left;
    height: 35px;
}
.form-control {//企业评估搜索框样式
    padding: 6px 20px;
    height: 50px;
    // display: inline-block;
    width: 80%;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.property_form-control{//知识产权搜索款样式
    padding: 6px 20px;
    height: 50px;
    // display: inline-block;
    width: 80%;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.search_form .forms_in input[type='submit'] {
    width: 20%;
    height: 50px;
    padding: 0px 20px;
}
.btn-primary {//按钮样式
    display: inline-block;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
}
.btn {//按钮样式
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}
.home_hot_key{//热搜样式
    padding: 40px 0 80px 0;
    text-align: center;
    color: #FFFFFF;
}
.home_hot_key a {//热搜a标签样式
    display: inline-block;
    padding: 0 10px;
    color: #FFFFFF;
}
a, a:FOCUS {//热搜a标签样式
    color: #0F63A8;
}
.informationcontainer{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 300px;
}

.innercontainer{
    left: 10%;
    width: 80%;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
}
.index-nav-item{
    width: 25%;
    float: left;
    padding: 25px 10px 40px 15px;
    position: relative;
    transition: background .2s;
}
.index-nav-item:hover{
    background-color: #afdfe4;
    .blf{
        font-size: 1.1em;
    }
}
.index-nav-item a {
    color: #3c4144;
    text-decoration: none;
    background: transparent;
}
.index-nav-item .Iconimg{
    font-size: 40px;
    background-size: 200px 100px;
    width: 100px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
}
.index-nav-item .blf{
    color: #3c4144;
    font-size: 16px;
    width: 140px;
}
.index-nav-item h2 {
    color: #3B426B;
    display: inline-block;
    margin: 0px;
    top: 2px;
    position: relative;
    transition: top .2s;
}
.index-nav-item p {
    color: #0F63A8;
    display: inline-block;
    position: relative; 
    margin-bottom: 0px;
    top: -10px;
}

.ant-btn{
    width: 10%;
    height: 50px;
    border: 2px solid #ffffff;
    border-bottom: 0px solid #2B32B2;
}
