.container-fluid{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.logo {
    width: 190px;
    height: 100px;
    display: block;
    margin: 0 auto; 
}
.search_forms2{
    float: left;
}

.search_type2 {//子列表样式
    padding-top: 0px;
    position: relative;
    border: 1px solid #e7e7e7;
    margin-top: -10px;
    border-top: none;
    background-color: #fff;
    padding-top: 10px;
}
.search_type2 ul li {//子列表样式
    background-color: #fff;
    z-index: 2;
    position: relative;
    border: none;
}

.hot_key{//热搜样式
    padding: 40px 0 200px 0;
    text-align: center;
}
.hot_key a {//热搜a标签样式
    display: inline-block;
    padding: 0 10px;
}
a, a:FOCUS {//热搜a标签样式
    color: #0F63A8;
}
.ant-list-items li:hover {//每个li有阴影
    //border: 5px solid #fff;
    //margin-left: 15px;
    // margin-right: 15px;
    //margin-bottom: 20px;
    position: relative;
    //margin-top: 10px;
    z-index: 20;
    box-shadow: 5px 5px 5px 5px #ccc;
}
.hint_text{
    margin-top: 47px;
    line-height: 42px;
}
.nums_text{
    vertical-align: middle;
    line-height: 20px;
    font-size: 18px;
    color: #999;
}
.title{
    font-size: 18px;
    line-height: 1.29;
    font-weight: 700;
    color: #333;
}
.ant-divider-horizontal{
    margin: 12px 0;
}

.Result_page_left_header .ant-radio-button-wrapper{
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.Result_page_left_header .ant-tabs{
    margin-bottom: 10px;
}
.jumpbar a{//跳转栏css
    font-size: 18px;
    line-height: 20px;
}
.jumpbar{
    .ant-breadcrumb{
        padding: 20px 15px 5px;
    }
}
.cardStyle .ant-card{//创新能力值卡片
    font-size: 3px;
    line-height: 1;
    background: #1890ff;
    color: #ffff;
}
.cardStyle {
    p{
        margin-bottom: 0em;
    }
}
.cardStyle .ant-card-head-title{
    text-align: center;
}
.ant-card-body{
    text-align: center;
    padding: 0px;
}
.companyListStyle{
    .ant-list-item-meta-title{
        font-size: 18px;
        height: 40px;
        font-weight: 700;
    }
}
.fundStlye{
    margin-left: 10px;
}
.areaStlye{
    margin-left: 10px;
}
.companyListStyle {
    .ant-list-item{
        padding: 5px 0; 
        padding-right: 20px;
        padding-left: 24px;
    }
}
.companyListStyle{
    .ant-card-head{
        padding: 0 12px;
        color: #fff;
        font-size: 20px;
        border-bottom: 0px;
    }
}
.keyword {//关键字变红
    color: #e33244;
    font-weight: bold;
  }