body{
    width:100%;
    height:100%;
}
.data_button{
    margin-top: 1%;
    margin-bottom:20px;
}
.message{
    margin-left:10px;
    margin-top:auto;
    font-size: 17px;
}

.message_number{
    color:rgb(20, 20, 236);
}
.del_user{
    .ant-btn{
        text-align: center;
        border: 1px solid transparent;
        padding: 0 8px;
        font-size: 12px;
        height: 30px;
        width: 30px;    
    }
}